extends layout

block content
  table#tableRows.table.table-bordered.table-hover.table-condensed.no-wrap
    if fields && rows
      thead
        tr
          each field in fields
            th= field.name
      tbody
        each row in rows
          tr
            each cell in row
              td= cell
